h1{
    text-align: center;
    padding-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-color: rgba(6, 87, 87, 0.281);
}
.mainbox{
    width:95%;
    height: 700px;
    background-color: rgba(4, 70, 124, 0.568);
    margin: 10px auto;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
    
    
    
    
}
h2{
    text-align: left;
    padding-top: 50px;
    padding-left:50px;
    margin: -T 0;
    
}
.firstline{
    width: 100%;
    height: 5px;
    background-color: black;
    padding: 0px;
    margin: 50px auto;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.aboutmep{
    text-align: center;
    top: 120px;
    font-size: 150%;
    position: relative;
}
.secondline{
    width: 100%;
    height: 5px;
    background-color: black;
    padding: 0px;
    margin: 125px auto;

}
.personal{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
    font-size: large;
    font-style: oblique;
    

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  body{
    position: relative;
    
  }
  .photo1{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
   

.studies{
    text-align: left;
    
    padding-left: 10px;
    font-size:larger;
    
}
.thirdline{
    width: 100%;
    height: 5px;
    background-color: black;
    position: relative; 
    margin-top: 400px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    

    

}

.linkedin{
    text-align: center;
    margin: 0 auto;

}




.aboutme{
    position: relative;
    left: 40px;
    top: 19px;
    color: black;
    font-size: 20px;
    
}

.stu{
    
    position: relative;
    left: 150px;
    color: black;
    font-size: 20px;
    top: -2px;
}




a:visited{
    background-color: black;
}


.secondline2{
    width: 100%;
    height: 5px;
    background-color: black;
    padding: 0px;
    margin: 125px auto;
    position: relative;
    top: 250px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}